**/*tmp*
**/*bin*
**/*debug*
**/target/
**/out/
**/build/
**/dist/
**/node_modules/
**/venv/
**/.idea/
**/.vscode/
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/.tox/
**/.pytest/
**/.mypy_cache/
**/.coverage.*
**/generated